<%= simple_form_for(@idea, :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.hidden_field :lock_version %>
  <%= f.input :name, :required => true, :hint => "_" %>
  <%= f.input :description, input_html: { class: 'span8', rows: 3 }, :required => true, :hint => "_" %>
  <%= f.input :picture %>
  <div class="controls">
    <%= f.button :submit %>
    <%= link_to I18n.t(:cancel, scope: :"views.buttons"), :back, class: :btn %>
  </div>
<% end %>


