<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @idea.name %>
</p>

<p>
  <b>Description:</b>
  <%= simple_format @idea.description %>
</p>

<p>
  <b>Picture:</b>
  <%= image_tag(@idea.picture_url, width: 400) if @idea.picture.present? %>
</p>

<strong>コメントの追加：</strong>

<% @idea.comments.each_with_index do |comment, idx| %>
  <% if comment.created_at %>
    <div>
      <%= "No. #{idx + 1}:" -%>
      <strong><%= "#{comment.user_name}" -%></strong>
      <%= link_to 'Edit', edit_comment_path(comment), class: :btn %>
      <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: :btn %>
      <p>
	<%= simple_format comment.body -%>
      </p>
    </div>
  <% end %>
<% end %>

<%= render 'comments/form' %>

<%= link_to 'Edit', edit_idea_path(@idea), class: :btn %>
<%= link_to 'Back to index', ideas_path, class: :btn %>
