<h1><%= I18n.t(:title_show_idea, scope: :"views.labels") -%></h1>

<p>
  <b><%= I18n.t(:name, scope: :"activerecord.attributes.idea")-%></b>
  <%= @idea.name %>
</p>

<p>
  <b><%= I18n.t(:description, scope: :"activerecord.attributes.idea")-%></b>
  <%= simple_format @idea.description %>
</p>

<p>
  <b><%= I18n.t(:picture, scope: :"activerecord.attributes.idea")-%></b>
  <%= image_tag(@idea.picture_url, width: 400) if @idea.picture.present? %>
</p>

<strong><%= I18n.t(:comment, scope: :"views.labels") -%></strong>
<table>
  <tbody>
    <tr>
    <% @idea.comments.each_with_index do |comment, idx| %>
    <% if comment.created_at %>
    <div>
      <td><%= "No. #{idx + 1}:" -%></td>
      <td>
	<strong><%= "#{comment.user_name}" -%></strong>
	<%= link_to I18n.t(:edit,    scope: :"views.buttons"), edit_comment_path(comment), class: :btn %>
	<%= link_to I18n.t(:destroy, scope: :"views.buttons"), comment, method: :delete, data: { confirm: '削除しますか?' }, class: :btn %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><%= simple_format comment.body -%></td>
    </tr>
    <% end %>
    <% end %>
      </tr>
  </tbody>
</table>

<div>
  <strong><%= I18n.t(:add_comment, scope: :"views.labels") -%></strong>
  <%= render 'comments/form' %>
</div>

<%= link_to I18n.t(:edit,          scope: :"views.buttons"), edit_idea_path(@idea), class: :btn %>
<%= link_to I18n.t(:back_to_index, scope: :"views.buttons"), ideas_path, class: :btn %>

