
<%= simple_form_for(@comment, :html => {:class => 'form-horizontal' }) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :lock_version %>
  <% len_user_name = @comment.user_name ? @comment.user_name.length : 0 %>
  <%= f.input :user_name, :hint => "#{len_user_name} / 32 chars", :required => true %>
  <% len_body = @comment.body ? @comment.body.length : 0 %>
  <%= f.input :body,  input_html: { class: 'span8', rows: 3 }, :hint => "#{len_body} / 4000 chars", :required => true %>
  <%= f.input :picture %>
  <%= f.hidden_field :idea_id %>
  <div class="controls">
    <%= f.button :submit %>
    <%= link_to I18n.t(:cancel, scope: :"views.buttons"), :back, class: :btn %>
  </div>
<% end %>
