<p id="notice"><%= notice %></p>

<p>
  <b>User name:</b>
  <%= @comment.user_name %>
</p>

<p>
  <b>Body:</b>
  <%= simple_format @comment.body %>
</p>

<p>
  <b>Idea:</b>
  <%= @comment.idea.name %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment), class: :btn %>
<%= link_to 'Back to index', comments_path, class: :btn %>
